body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: #b46906;
    line-height: 1.6;
}

header {
    background-color: #b46906;
    color: #fff8e7;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: bold;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff8e7;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #d2b48c;
}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #b46906;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 2em;
    margin-bottom: 15px;
    color: white;
    border-bottom: 2px solid #d2b48c;
    padding-bottom: 5px;
}

section p {
    color: white;
}

.menu-categoria {
    margin-bottom: 20px;
    cursor: pointer;
    border-bottom: 1px solid #d2b48c;
    padding-bottom: 10px;
}

.menu-categoria h3 {
    font-size: 1.5em;
    margin: 0;
    color: white;
}

.menu-contenido {
    display: none;
    padding-top: 10px;
}

.menu-categoria.activo .menu-contenido {
    display: block;
}

.menu-contenido ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-contenido ul li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: white;
    border-left: 4px solid #b46906;
    transition: background-color 0.3s ease;
}

.menu-contenido ul li:hover {
    background-color: #f8b761;
}

.menu-contenido ul li strong {
    color: #744202;
}

footer {
    background-color: #b46906;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
}